# Environment variables
.env
.env.*
!.env.example

# Docker volumes
volumes/

# Operating System Files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Temporary files
*.tmp
temp/ 